{{#each items}}
<li class="">
    <div class="item-list">
        <h3 class="item-title ">
            {{title}}
        </h3>
        <h5 class="item-pub-date">
            {{pubDate}}
        </h5>
    </div>
    <div class="separator" />
</li>
{{/each}}